.banner-container a {
  display: block;
}
.banner-container a img {
  width: 100%;
}
.get-started-container {
  background: url('../images/homepage-bg.png') no-repeat;
  background-size: cover;
  background-position: center;
  padding: 150px;
}
.get-started-container h1 {
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.get-started-container p {
  font-family: 'roboto_condensedlight';
  font-size: 20px;
  text-align: center;
}
.get-started-container .search-container form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  margin: 40px 0 20px;
}
.get-started-container .search-container form input,
.get-started-container .search-container form select,
.get-started-container .search-container form button {
  width: 100%;
  padding: 15px 20px 15px 15px;
  border: 0;
  margin-right: 10px;
  background: #fff;
  font-family: 'roboto_condensedregular';
  font-size: 16px;
}
.get-started-container .search-container form input:focus,
.get-started-container .search-container form select:focus,
.get-started-container .search-container form button:focus {
  outline: none;
}
.get-started-container .search-container form input {
  max-width: 350px;
}
.get-started-container .search-container form select {
  max-width: 200px;
}
.get-started-container .search-container form button {
  max-width: 120px;
  background: #960898;
  color: #fff;
  font-family: 'roboto_condenseditalic';
  text-transform: uppercase;
}
.get-started-container .search-container form button:hover {
  opacity: 1;
  background: #ae09b0;
}
.job-category-list {
  margin-bottom: 30px;
  padding: 20px;
  background: #fff;
}
.job-category-list strong {
  display: block;
  margin: 20px 0 50px;
  font-size: 25px;
  font-family: 'roboto_condensedbold';
  text-transform: uppercase;
  text-align: center;
}
.job-category-list .categories-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}
.job-category-list .categories-container .categories {
  width: 30%;
  margin-left: 20px;
  margin-bottom: 20px;
  background: #f7f4f4;
}
.job-category-list .categories-container .categories:nth-child(3n + 1) {
  margin-left: 0;
}
.job-category-list .categories-container .categories > div {
  padding: 15px 10px 10px;
  text-align: center;
}
.job-category-list .categories-container .categories > div img {
  max-width: 50px;
  margin: 0 auto;
}
.job-category-list .categories-container .categories > div span {
  display: block;
  margin-bottom: 10px;
}
.job-category-list .categories-container .categories > div span:first-of-type {
  margin-top: 10px;
  font-size: 18px;
  font-family: 'roboto_condensedbold';
  text-transform: uppercase;
}
.job-category-list .categories-container .categories > div span:last-of-type {
  font-size: 14px;
  color: #848484;
}
.job-category-list .categories-container .categories .see-all-btn {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  padding: 10px;
  margin-top: 20px;
  background: #848484;
  color: #fff;
  font-family: 'roboto_condensedbold';
  text-decoration: none;
  text-transform: uppercase;
}
.job-category-list .categories-container .categories .see-all-btn .fa-caret-right:before {
  margin-left: 5px;
  vertical-align: middle;
}
.job-category-list .categories-container .categories .see-all-btn:hover {
  background: #919191;
}
.top-employers-container {
  padding: 20px;
  background: #fff;
}
.top-employers-container strong {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 25px;
  text-transform: uppercase;
}
.top-employers-container ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 20px 0;
}
.top-employers-container ul li {
  width: 32%;
  margin-left: 15px;
  margin-bottom: 30px;
}
.top-employers-container ul li:nth-child(3n + 1) {
  margin-left: 0;
}
.top-employers-container ul li span {
  display: inline-block;
  margin-top: 10px;
  font-size: 16px;
}
