:root {
  font-size: 14px;
}
html {
  height: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}
html,
body,
div,
span,
applet,
object,
iframe,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-weight: normal;
  letter-spacing: 1px;
  font-family: 'roboto_condensedregular';
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
._keyfocus *:focus,
input:focus:not([disabled]),
textarea:focus:not([disabled]),
select:focus:not([disabled]) {
  box-shadow: none;
}
body {
  background: #fff;
  line-height: 1;
  height: 100%;
}
body .page-main {
  min-height: calc(100vh - 44px);
  padding-top: 100px;
}
body .page-wrapper {
  padding: 50px 25px;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
.errors {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background: #ff191b;
  color: #fff;
  text-align: center;
}
.success {
  margin: 0;
}
.success .errors {
  background: green;
}
button,
input[type='submit'] {
  cursor: pointer;
}
button:hover,
input[type='submit']:hover {
  opacity: 0.9;
}
header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 20px;
  background: #fff;
  z-index: 1;
  border-bottom: 1px solid #e1e1e1;
}
header .logo-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -o-align-items: center;
  align-items: center;
}
header .logo-container a {
  display: block;
}
header .logo-container a img {
  width: 100%;
  max-width: 75px;
}
header .logo-container span {
  font-size: 18px;
  margin-left: 15px;
}
header .account-container a,
header .account-container strong {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #e1e1e1;
  color: #212121;
  font-size: 16px;
  font-family: 'roboto_condensedregular';
  text-decoration: none;
  text-transform: uppercase;
}
header .account-container a:last-child,
header .account-container strong:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: 0;
}
header .account-container a:hover {
  text-decoration: underline;
}
@font-face {
  font-family: 'roboto_condensedbold';
  src: url('../fonts/robotocondensed-bold-webfont.woff2') format('woff2'), url('../fonts/robotocondensed-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto_condensedbold_italic';
  src: url('../fonts/robotocondensed-bolditalic-webfont.woff2') format('woff2'), url('../fonts/robotocondensed-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto_condenseditalic';
  src: url('../fonts/robotocondensed-italic-webfont.woff2') format('woff2'), url('../fonts/robotocondensed-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto_condensedlight';
  src: url('../fonts/robotocondensed-light-webfont.woff2') format('woff2'), url('../fonts/robotocondensed-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto_condensedlight_italic';
  src: url('../fonts/robotocondensed-lightitalic-webfont.woff2') format('woff2'), url('../fonts/robotocondensed-lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto_condensedregular';
  src: url('../fonts/robotocondensed-regular-webfont.woff2') format('woff2'), url('../fonts/robotocondensed-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
footer p {
  display: block;
  padding: 15px 20px;
  text-align: center;
  width: 100%;
  background: #212121;
  opacity: 0.9;
  color: #fff;
}
.banner-container a {
  display: block;
}
.banner-container a img {
  width: 100%;
}
.get-started-container {
  background: url('../images/homepage-bg.png') no-repeat;
  background-size: cover;
  background-position: center;
  padding: 150px;
}
.get-started-container h1 {
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.get-started-container p {
  font-family: 'roboto_condensedlight';
  font-size: 20px;
  text-align: center;
}
.get-started-container .search-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  margin: 40px 0 20px;
}
.get-started-container .search-container input,
.get-started-container .search-container select,
.get-started-container .search-container button {
  width: 100%;
  padding: 15px 20px 15px 15px;
  border: 0;
  margin-right: 10px;
  background: #fff;
  font-family: 'roboto_condensedregular';
  font-size: 16px;
}
.get-started-container .search-container input:focus,
.get-started-container .search-container select:focus,
.get-started-container .search-container button:focus {
  outline: none;
}
.get-started-container .search-container input {
  max-width: 350px;
}
.get-started-container .search-container select {
  max-width: 200px;
}
.get-started-container .search-container button {
  max-width: 120px;
  background: #960898;
  color: #fff;
  font-family: 'roboto_condenseditalic';
  text-transform: uppercase;
}
.recent-job-listing-container {
  margin: 30px 25px;
  padding: 20px;
  background: #fff;
}
.recent-job-listing-container strong {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 25px;
  text-transform: uppercase;
}
.recent-job-listing-container ul li {
  margin-bottom: 10px;
}
.recent-job-listing-container ul li:last-child {
  margin-bottom: 0;
}
.recent-job-listing-container ul li a {
  font-size: 16px;
  color: #212121;
  text-decoration: none;
}
.recent-job-listing-container ul li a:hover {
  color: #960898;
}
.recent-job-listing-container .see-all-btn {
  display: inline-block;
  margin-top: 20px;
  color: #ff191b;
}
.top-employers-container {
  margin: 30px 25px;
  padding: 20px;
  background: #fff;
}
.top-employers-container strong {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 25px;
  text-transform: uppercase;
}
.top-employers-container ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 20px 0;
}
.top-employers-container ul li {
  width: 32%;
  margin-left: 15px;
  margin-bottom: 30px;
}
.top-employers-container ul li:nth-child(3n + 1) {
  margin-left: 0;
}
.top-employers-container ul li span {
  display: inline-block;
  margin-top: 10px;
  font-size: 16px;
}
.login-index .page-main,
.register-index .page-main,
.jobpost-index .page-main {
  background: #e1e1e1;
}
.login-index header .account-container a:last-child,
.register-index header .account-container a:last-child,
.jobpost-index header .account-container a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: 0;
}
.login-index .page-wrapper,
.register-index .page-wrapper,
.jobpost-index .page-wrapper {
  padding: 50px 25px;
}
.login-index .page-wrapper .inner-wrapper,
.register-index .page-wrapper .inner-wrapper,
.jobpost-index .page-wrapper .inner-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 50px;
  background: #fff;
}
.login-index .page-wrapper h3,
.register-index .page-wrapper h3,
.jobpost-index .page-wrapper h3 {
  margin-bottom: 30px;
  color: #212121;
  font-family: 'roboto_condensedbold';
  font-size: 30px;
  text-transform: uppercase;
}
.login-index .page-wrapper .form,
.register-index .page-wrapper .form,
.jobpost-index .page-wrapper .form {
  width: 50%;
  margin-right: 50px;
  padding-right: 50px;
  border-right: 2px solid #e1e1e1;
}
.login-index .page-wrapper .form legend,
.register-index .page-wrapper .form legend,
.jobpost-index .page-wrapper .form legend {
  margin-bottom: 20px;
  color: #ff191b;
}
.login-index .page-wrapper .form label,
.register-index .page-wrapper .form label,
.jobpost-index .page-wrapper .form label {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 14px;
}
.login-index .page-wrapper .form input[type="submit"],
.register-index .page-wrapper .form input[type="submit"],
.jobpost-index .page-wrapper .form input[type="submit"] {
  margin-bottom: 0;
  border: 0;
  background: #960898;
  color: #fff;
  text-transform: uppercase;
  font-family: 'roboto_condenseditalic';
}
.login-index .page-wrapper .form input[type="submit"]:active,
.register-index .page-wrapper .form input[type="submit"]:active,
.jobpost-index .page-wrapper .form input[type="submit"]:active {
  background: #ae09b0;
}
.login-index .page-wrapper .form input,
.register-index .page-wrapper .form input,
.jobpost-index .page-wrapper .form input,
.login-index .page-wrapper .form select,
.register-index .page-wrapper .form select,
.jobpost-index .page-wrapper .form select {
  display: block;
  width: 100%;
  padding: 15px 20px;
  margin-bottom: 15px;
  font-family: 'roboto_condensedregular';
  font-size: 16px;
}
.login-index .page-wrapper .form input:focus,
.register-index .page-wrapper .form input:focus,
.jobpost-index .page-wrapper .form input:focus,
.login-index .page-wrapper .form select:focus,
.register-index .page-wrapper .form select:focus,
.jobpost-index .page-wrapper .form select:focus {
  outline: none;
}
.login-index .page-wrapper .form textarea,
.register-index .page-wrapper .form textarea,
.jobpost-index .page-wrapper .form textarea {
  width: 100%;
  padding: 15px 20px;
  resize: none;
  min-height: 300px;
  overflow-y: auto;
  margin-bottom: 15px;
  font-family: 'roboto_condensedregular';
  font-size: 16px;
}
.login-index .page-wrapper .form textarea:focus,
.register-index .page-wrapper .form textarea:focus,
.jobpost-index .page-wrapper .form textarea:focus {
  outline: none;
}
.login-index .page-wrapper .info-container,
.register-index .page-wrapper .info-container,
.jobpost-index .page-wrapper .info-container {
  width: 50%;
}
.login-index .page-wrapper .info-container p,
.register-index .page-wrapper .info-container p,
.jobpost-index .page-wrapper .info-container p {
  font-size: 20px;
  font-family: 'roboto_condensedlight';
  line-height: 1.2;
}
.login-index .page-wrapper .info-container p a,
.register-index .page-wrapper .info-container p a,
.jobpost-index .page-wrapper .info-container p a {
  color: #ff191b;
  text-decoration: none;
}
.login-index .page-wrapper .info-container p a:hover,
.register-index .page-wrapper .info-container p a:hover,
.jobpost-index .page-wrapper .info-container p a:hover {
  text-decoration: underline;
}
.account-index .page-main {
  background: #e1e1e1;
}
.account-index .page-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 50px 25px;
}
.account-index .page-wrapper .left-column {
  width: 30%;
  margin-right: 30px;
  background: #fff;
}
.account-index .page-wrapper .left-column h3 {
  background: #212121;
  padding: 20px;
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
}
.account-index .page-wrapper .left-column a {
  display: block;
  padding: 20px;
  color: #212121;
  border-bottom: 1px solid #e1e1e1;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
.account-index .page-wrapper .left-column a.active {
  font-family: 'roboto_condensedbold';
  color: #960898;
}
.account-index .page-wrapper .left-column a:hover {
  color: #960898;
}
.account-index .page-wrapper .right-column {
  width: 70%;
  background: #fff;
}
.account-index .page-wrapper .right-column .tab-content {
  display: none;
}
.account-index .page-wrapper .right-column .tab-content.show {
  display: block;
}
.account-index .page-wrapper .right-column .editprofile-container {
  padding: 20px;
}
.account-index .page-wrapper .right-column .editprofile-container legend {
  margin-bottom: 20px;
  color: #ff191b;
}
.account-index .page-wrapper .right-column .editprofile-container h3 {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e1e1e1;
  font-size: 30px;
  font-family: 'roboto_condensedbold';
  text-transform: uppercase;
}
.account-index .page-wrapper .right-column .editprofile-container form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.account-index .page-wrapper .right-column .editprofile-container form .photo img {
  width: 100%;
  max-width: 80px;
}
.account-index .page-wrapper .right-column .editprofile-container form .photo input[type="file"] {
  display: block;
  max-width: 250px;
  margin: 10px 0 20px;
}
.account-index .page-wrapper .right-column .editprofile-container form > input,
.account-index .page-wrapper .right-column .editprofile-container form select,
.account-index .page-wrapper .right-column .editprofile-container form textarea {
  margin-bottom: 20px;
  padding: 10px 15px;
  font-size: 16px;
  font-family: 'roboto_condensedregular';
  border: 1px solid #bbb8b8;
}
.account-index .page-wrapper .right-column .editprofile-container form > input:focus,
.account-index .page-wrapper .right-column .editprofile-container form select:focus,
.account-index .page-wrapper .right-column .editprofile-container form textarea:focus {
  outline: none;
  border-color: #960898;
}
.account-index .page-wrapper .right-column .editprofile-container form label {
  display: inline-block;
  margin-bottom: 5px;
}
.account-index .page-wrapper .right-column .editprofile-container form textarea {
  resize: none;
  min-height: 150px;
  overflow-y: auto;
}
.account-index .page-wrapper .right-column .editprofile-container form .save-btn {
  display: block;
  max-width: 250px;
  padding: 10px 15px;
  margin-bottom: 30px;
  border: 0;
  background: #960898;
  color: #fff;
  font-family: 'roboto_condensedbold';
  text-transform: uppercase;
}
.jobseekers-index header {
  border-bottom: 1px solid #e1e1e1;
}
.jobseekers-index .page-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.jobseekers-index .page-wrapper .left-column {
  width: 70%;
  margin-right: 30px;
}
.jobseekers-index .page-wrapper .left-column h3 {
  margin-bottom: 30px;
  font-size: 30px;
  text-transform: uppercase;
}
.jobseekers-index .page-wrapper .left-column .jobseekers-container {
  max-height: 500px;
  overflow-y: auto;
  padding-right: 10px;
}
.jobseekers-index .page-wrapper .left-column .jobseeker {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #e1e1e1;
}
.jobseekers-index .page-wrapper .left-column .jobseeker .photo {
  width: 20%;
  margin-right: 20px;
}
.jobseekers-index .page-wrapper .left-column .jobseeker .photo img {
  max-width: 80px;
  width: 100%;
}
.jobseekers-index .page-wrapper .left-column .jobseeker .info span {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}
.jobseekers-index .page-wrapper .left-column .jobseeker .info span.name {
  font-family: 'roboto_condensedbold';
  font-size: 20px;
}
.jobseekers-index .page-wrapper .left-column .jobseeker .info span.outline {
  line-height: 1.3;
}
.jobseekers-index .page-wrapper .left-column .jobseeker .info button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  max-width: 150px;
  padding: 12px;
  background: #960898;
  border: 0;
  color: #fff;
  font-family: 'roboto_condenseditalic';
  text-transform: uppercase;
}
.jobseekers-index .page-wrapper .right-column {
  width: 30%;
}
.jobseekers-index .page-wrapper .right-column h3 {
  padding: 20px;
  background: #212121;
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
.jobseekers-index .page-wrapper .right-column .jobpost-container {
  max-height: 500px;
  overflow-y: auto;
  border: 1px solid #e1e1e1;
}
.jobseekers-index .page-wrapper .right-column .jobpost-container:first-of-type,
.jobseekers-index .page-wrapper .right-column .jobpost-container:only-of-type {
  border-top: 0;
}
.jobseekers-index .page-wrapper .right-column .jobpost {
  padding: 20px;
  border-bottom: 1px solid #e1e1e1;
}
.jobseekers-index .page-wrapper .right-column .jobpost:last-child {
  border-bottom: 0;
}
.jobseekers-index .page-wrapper .right-column .jobpost span {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: 'roboto_condensedlight';
}
.jobseekers-index .page-wrapper .right-column .jobpost button {
  background: none;
  border: 0;
  color: #960898;
  text-decoration: underline;
}
.jobpost-index form .errors {
  background: green;
}
.jobsearch-index .page-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.jobsearch-index .page-wrapper .jobsearch-filter-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -o-align-items: center;
  align-items: center;
  margin-bottom: 20px;
}
.jobsearch-index .page-wrapper .jobsearch-filter-container label {
  margin-right: 10px;
  text-transform: uppercase;
}
.jobsearch-index .page-wrapper .jobsearch-filter-container select {
  width: 100%;
  max-width: 200px;
  padding: 12px 20px 12px 12px;
  margin-right: 10px;
  font-family: 'roboto_condensedregular';
  text-transform: uppercase;
}
.jobsearch-index .page-wrapper .jobsearch-filter-container button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 12px;
  border: 0;
  background: #212121;
  color: #fff;
  font-family: 'roboto_condenseditalic';
  text-transform: uppercase;
  text-align: center;
}
.jobsearch-index .page-wrapper .left-column {
  width: 70%;
  margin-right: 30px;
}
.jobsearch-index .page-wrapper .left-column h3 {
  margin-bottom: 30px;
  font-size: 30px;
  text-transform: uppercase;
}
.jobsearch-index .page-wrapper .left-column .search-container {
  max-height: 500px;
  overflow-y: auto;
  padding-right: 10px;
}
.jobsearch-index .page-wrapper .left-column .jobpost {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #e1e1e1;
}
.jobsearch-index .page-wrapper .left-column .jobpost label {
  font-size: 16px;
  font-family: 'roboto_condensedbold';
  text-transform: uppercase;
}
.jobsearch-index .page-wrapper .left-column .jobpost span {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}
.jobsearch-index .page-wrapper .left-column .jobpost span img {
  width: 100%;
  max-width: 18px;
  margin-right: 5px;
}
.jobsearch-index .page-wrapper .left-column .jobpost span.category {
  display: inline-block;
  padding: 10px;
  margin-bottom: 8px;
  background: #3C0C7D;
  color: #fff;
  font-size: 10px;
  font-family: 'roboto_condensedbold';
  text-transform: uppercase;
  text-align: center;
}
.jobsearch-index .page-wrapper .left-column .jobpost span.jobtitle {
  font-size: 23px;
  font-family: 'roboto_condensedbold';
}
.jobsearch-index .page-wrapper .left-column .jobpost span.description {
  margin-top: 8px;
  line-height: 1.3;
}
.jobsearch-index .page-wrapper .left-column .jobpost a {
  color: #ff191b;
  font-family: 'roboto_condensedbold';
}
.jobsearch-index .page-wrapper .right-column {
  width: 30%;
}
.jobsearch-index .page-wrapper .right-column h3 {
  padding: 20px;
  background: #212121;
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
.jobsearch-index .page-wrapper .right-column .jobpost-container {
  max-height: 500px;
  overflow-y: auto;
  border: 1px solid #e1e1e1;
}
.jobsearch-index .page-wrapper .right-column .jobpost-container:first-of-type,
.jobsearch-index .page-wrapper .right-column .jobpost-container:only-of-type {
  border-top: 0;
}
.jobsearch-index .page-wrapper .right-column .jobpost {
  padding: 20px;
  border-bottom: 1px solid #e1e1e1;
}
.jobsearch-index .page-wrapper .right-column .jobpost:last-child {
  border-bottom: 0;
}
.jobsearch-index .page-wrapper .right-column .jobpost span {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: 'roboto_condensedlight';
}
.jobsearch-index .page-wrapper .right-column .jobpost button {
  background: none;
  border: 0;
  color: #960898;
  text-decoration: underline;
}
.description-index .jobpost .applyform-container {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.4);
}
.description-index .jobpost .applyform-container form {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}
.description-index .jobpost .applyform-container form legend {
  color: #ff191b;
  margin-bottom: 20px;
}
.description-index .jobpost .applyform-container form h3 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -o-align-items: center;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e1e1e1;
  font-size: 50px;
  text-transform: uppercase;
}
.description-index .jobpost .applyform-container form h3 img {
  max-width: 50px;
  margin-left: 5px;
}
.description-index .jobpost .applyform-container form label {
  display: block;
  margin-bottom: 10px;
}
.description-index .jobpost .applyform-container form input:not([type="file"]) {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 12px;
  font-family: 'roboto_condensedregular';
  font-size: 16px;
}
.description-index .jobpost .applyform-container form .apply-btn {
  margin-top: 20px;
  border: 0;
  background: #960898;
  color: #fff;
  text-transform: uppercase;
}
.description-index .jobpost .applyform-container form .apply-btn:hover {
  background: #ae09b0;
}
.description-index .jobpost .applyform-container .close-btn {
  float: right;
  margin: 0;
  cursor: pointer;
}
.description-index .jobpost .applyform-container .close-btn:hover {
  opacity: 0.9;
}
.description-index .jobpost .applyform-container .close-btn img {
  margin: 0;
  max-width: 20px;
  width: 100%;
}
.description-index .jobpost h1 {
  display: block;
  font-family: 'roboto_condensedbold';
  font-size: 40px;
  margin-bottom: 30px;
}
.description-index .jobpost div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -o-align-items: center;
  align-items: center;
}
.description-index .jobpost div:not(.actions) {
  margin-bottom: 20px;
}
.description-index .jobpost div:not(.actions) span {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -o-align-items: center;
  align-items: center;
  font-size: 20px;
  margin-right: 20px;
}
.description-index .jobpost div:not(.actions) span:last-child {
  margin-right: 0;
}
.description-index .jobpost div:not(.actions) span img {
  max-width: 25px;
}
.description-index .jobpost label {
  font-family: 'roboto_condensedbold';
  font-size: 18px;
  text-transform: uppercase;
}
.description-index .jobpost span {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}
.description-index .jobpost span img {
  width: 100%;
  max-width: 18px;
  margin-right: 5px;
}
.description-index .jobpost span.category {
  display: inline-block;
  padding: 10px;
  margin-bottom: 8px;
  background: #3C0C7D;
  color: #fff;
  font-size: 10px;
  font-family: 'roboto_condensedbold';
  text-transform: uppercase;
  text-align: center;
}
.description-index .jobpost span.description {
  margin-top: 8px;
  font-size: 23px;
  font-family: 'roboto_condensedlight';
  line-height: 1.3;
}
.description-index .jobpost .actions {
  margin-top: 30px;
}
.description-index .jobpost .actions .readmore-btn.active + .applyform-container {
  display: block;
}
.description-index .jobpost button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: block;
  width: 100%;
  max-width: 150px;
  padding: 12px;
  background: #960898;
  border: 0;
  color: #fff;
  font-family: 'roboto_condenseditalic';
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  margin-right: 20px;
}
.description-index .jobpost button:hover {
  background: #ae09b0;
}
.description-index .jobpost button:focus {
  outline: none;
}
