:root {
  font-size: 14px;
}
html {
  height: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}
html,
body,
div,
span,
applet,
object,
iframe,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-weight: normal;
  letter-spacing: 1px;
  font-family: 'roboto_condensedregular';
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
._keyfocus *:focus,
input:focus:not([disabled]),
textarea:focus:not([disabled]),
select:focus:not([disabled]) {
  box-shadow: none;
}
body {
  background: #fff;
  line-height: 1;
  height: 100%;
}
body .page-main {
  min-height: calc(100vh - 44px);
  padding-top: 100px;
  background: #f7f7f7;
}
body .page-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px 20px;
}
body .main-column {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  padding: 20px;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
.errors {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background: #ff191b;
  color: #fff;
  text-align: center;
}
.errors.success {
  background: green;
}
.success {
  margin: 0;
}
.success .errors {
  background: green;
}
button,
input[type='submit'] {
  cursor: pointer;
  font-size: 14px;
  font-family: 'roboto_condenseditalic';
  text-transform: uppercase;
  text-align: center;
}
button:hover,
input[type='submit']:hover {
  opacity: 0.9;
}
button:focus,
input[type='submit']:focus {
  outline: none;
}
.loader-container {
  width: 100%;
  height: 100%;
  background: #fff;
  position: fixed;
  z-index: 999;
}
.loader-container .loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}
.loader-container .loader:before,
.loader-container .loader:after {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block;
  height: 20px;
  width: 20px;
  content: '';
}
.loader-container .loader:before {
  -webkit-box-shadow: 30px 0 0 #f8b334;
  -moz-box-shadow: 30px 0 0 #f8b334;
  animation: ball1 1s infinite;
  background-color: #cb2025;
  box-shadow: 30px 0 0 #f8b334;
  margin-bottom: 10px;
}
.loader-container .loader:after {
  -webkit-box-shadow: 30px 0 0 #97bf0d;
  -moz-box-shadow: 30px 0 0 #97bf0d;
  box-shadow: 30px 0 0 #97bf0d;
  animation: ball2 1s infinite;
  background-color: #00a096;
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(0.8);
    -ms-transform: rotate(0deg) scale(0.8);
    -o-transform: rotate(0deg) scale(0.8);
    -moz-transform: rotate(0deg) scale(0.8);
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.2);
    -ms-transform: rotate(360deg) scale(1.2);
    -o-transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2);
    transform: rotate(360deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.8);
    -ms-transform: rotate(720deg) scale(0.8);
    -o-transform: rotate(720deg) scale(0.8);
    -moz-transform: rotate(720deg) scale(0.8);
    transform: rotate(720deg) scale(0.8);
  }
}
@keyframes ball1 {
  0% {
    -webkit-box-shadow: 30px 0 0 #f8b334;
    -moz-box-shadow: 30px 0 0 #f8b334;
    box-shadow: 30px 0 0 #f8b334;
  }
  50% {
    -webkit-box-shadow: 0 0 0 #f8b334;
    -moz-box-shadow: 0 0 0 #f8b334;
    box-shadow: 0 0 0 #f8b334;
    -webkit-transform: translate(15px, 15px);
    -ms-transform: translate(15px, 15px);
    -o-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
    transform: translate(15px, 15px);
    margin-bottom: 0;
  }
  100% {
    -webkit-box-shadow: 30px 0 0 #f8b334;
    -moz-box-shadow: 30px 0 0 #f8b334;
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
}
@keyframes ball2 {
  0% {
    -webkit-box-shadow: 30px 0 0 #97bf0d;
    -moz-box-shadow: 30px 0 0 #97bf0d;
    box-shadow: 30px 0 0 #97bf0d;
  }
  50% {
    -webkit-box-shadow: 0 0 0 #97bf0d;
    -moz-box-shadow: 0 0 0 #97bf0d;
    -webkit-transform: translate(15px, 15px);
    -ms-transform: translate(15px, 15px);
    -o-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
    transform: translate(15px, 15px);
    box-shadow: 0 0 0 #97bf0d;
    margin-top: -20px;
  }
  100% {
    -webkit-box-shadow: 30px 0 0 #97bf0d;
    -moz-box-shadow: 30px 0 0 #97bf0d;
    box-shadow: 30px 0 0 #97bf0d;
    margin-top: 0;
  }
}
header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 20px;
  background: #fff;
  z-index: 1;
  border-bottom: 1px solid #e1e1e1;
}
header .logo-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -o-align-items: center;
  align-items: center;
}
header .logo-container a {
  display: block;
}
header .logo-container a img {
  width: 100%;
  max-width: 75px;
}
header .logo-container span {
  font-size: 18px;
  margin-left: 15px;
}
header .account-container a,
header .account-container strong {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #e1e1e1;
  color: #212121;
  font-size: 16px;
  font-family: 'roboto_condensedregular';
  text-decoration: none;
  text-transform: uppercase;
}
header .account-container a:last-child,
header .account-container strong:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: 0;
}
header .account-container a:hover {
  text-decoration: underline;
}
@font-face {
  font-family: 'roboto_condensedbold';
  src: url('../fonts/robotocondensed-bold-webfont.woff2') format('woff2'), url('../fonts/robotocondensed-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto_condensedbold_italic';
  src: url('../fonts/robotocondensed-bolditalic-webfont.woff2') format('woff2'), url('../fonts/robotocondensed-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto_condenseditalic';
  src: url('../fonts/robotocondensed-italic-webfont.woff2') format('woff2'), url('../fonts/robotocondensed-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto_condensedlight';
  src: url('../fonts/robotocondensed-light-webfont.woff2') format('woff2'), url('../fonts/robotocondensed-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto_condensedlight_italic';
  src: url('../fonts/robotocondensed-lightitalic-webfont.woff2') format('woff2'), url('../fonts/robotocondensed-lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto_condensedregular';
  src: url('../fonts/robotocondensed-regular-webfont.woff2') format('woff2'), url('../fonts/robotocondensed-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
footer p {
  display: block;
  padding: 15px 20px;
  text-align: center;
  width: 100%;
  background: #212121;
  opacity: 0.9;
  color: #fff;
}
.banner-container a {
  display: block;
}
.banner-container a img {
  width: 100%;
}
.get-started-container {
  background: url('../images/homepage-bg.png') no-repeat;
  background-size: cover;
  background-position: center;
  padding: 150px;
}
.get-started-container h1 {
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.get-started-container p {
  font-family: 'roboto_condensedlight';
  font-size: 20px;
  text-align: center;
}
.get-started-container .search-container form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  margin: 40px 0 20px;
}
.get-started-container .search-container form input,
.get-started-container .search-container form select,
.get-started-container .search-container form button {
  width: 100%;
  padding: 15px 20px 15px 15px;
  border: 0;
  margin-right: 10px;
  background: #fff;
  font-family: 'roboto_condensedregular';
  font-size: 16px;
}
.get-started-container .search-container form input:focus,
.get-started-container .search-container form select:focus,
.get-started-container .search-container form button:focus {
  outline: none;
}
.get-started-container .search-container form input {
  max-width: 350px;
}
.get-started-container .search-container form select {
  max-width: 200px;
}
.get-started-container .search-container form button {
  max-width: 120px;
  background: #960898;
  color: #fff;
  font-family: 'roboto_condenseditalic';
  text-transform: uppercase;
}
.get-started-container .search-container form button:hover {
  opacity: 1;
  background: #ae09b0;
}
.job-category-list {
  margin-bottom: 30px;
  padding: 20px;
  background: #fff;
}
.job-category-list strong {
  display: block;
  margin: 20px 0 50px;
  font-size: 25px;
  font-family: 'roboto_condensedbold';
  text-transform: uppercase;
  text-align: center;
}
.job-category-list .categories-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}
.job-category-list .categories-container .categories {
  width: 30%;
  margin-left: 20px;
  margin-bottom: 20px;
  background: #f7f4f4;
}
.job-category-list .categories-container .categories:nth-child(3n + 1) {
  margin-left: 0;
}
.job-category-list .categories-container .categories > div {
  padding: 15px 10px 10px;
  text-align: center;
}
.job-category-list .categories-container .categories > div img {
  max-width: 50px;
  margin: 0 auto;
}
.job-category-list .categories-container .categories > div span {
  display: block;
  margin-bottom: 10px;
}
.job-category-list .categories-container .categories > div span:first-of-type {
  margin-top: 10px;
  font-size: 18px;
  font-family: 'roboto_condensedbold';
  text-transform: uppercase;
}
.job-category-list .categories-container .categories > div span:last-of-type {
  font-size: 14px;
  color: #848484;
}
.job-category-list .categories-container .categories .see-all-btn {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  padding: 10px;
  margin-top: 20px;
  background: #848484;
  color: #fff;
  font-family: 'roboto_condensedbold';
  text-decoration: none;
  text-transform: uppercase;
}
.job-category-list .categories-container .categories .see-all-btn .fa-caret-right:before {
  margin-left: 5px;
  vertical-align: middle;
}
.job-category-list .categories-container .categories .see-all-btn:hover {
  background: #919191;
}
.top-employers-container {
  padding: 20px;
  background: #fff;
}
.top-employers-container strong {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 25px;
  text-transform: uppercase;
}
.top-employers-container ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 20px 0;
}
.top-employers-container ul li {
  width: 32%;
  margin-left: 15px;
  margin-bottom: 30px;
}
.top-employers-container ul li:nth-child(3n + 1) {
  margin-left: 0;
}
.top-employers-container ul li span {
  display: inline-block;
  margin-top: 10px;
  font-size: 16px;
}
.login-index header .account-container a:last-child,
.register-index header .account-container a:last-child,
.jobpost-index header .account-container a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: 0;
}
.login-index .page-wrapper .inner-wrapper,
.register-index .page-wrapper .inner-wrapper,
.jobpost-index .page-wrapper .inner-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 50px;
  background: #fff;
}
.login-index .page-wrapper h3,
.register-index .page-wrapper h3,
.jobpost-index .page-wrapper h3 {
  margin-bottom: 30px;
  color: #212121;
  font-family: 'roboto_condensedbold';
  font-size: 30px;
  text-transform: uppercase;
}
.login-index .page-wrapper .form,
.register-index .page-wrapper .form,
.jobpost-index .page-wrapper .form {
  width: 50%;
  margin-right: 50px;
  padding-right: 50px;
  border-right: 2px solid #e1e1e1;
}
.login-index .page-wrapper .form legend,
.register-index .page-wrapper .form legend,
.jobpost-index .page-wrapper .form legend {
  margin-bottom: 20px;
  color: #ff191b;
}
.login-index .page-wrapper .form label,
.register-index .page-wrapper .form label,
.jobpost-index .page-wrapper .form label {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 14px;
}
.login-index .page-wrapper .form input[type="submit"],
.register-index .page-wrapper .form input[type="submit"],
.jobpost-index .page-wrapper .form input[type="submit"] {
  margin-bottom: 0;
  border: 0;
  background: #960898;
  color: #fff;
  text-transform: uppercase;
  font-family: 'roboto_condenseditalic';
}
.login-index .page-wrapper .form input[type="submit"]:active,
.register-index .page-wrapper .form input[type="submit"]:active,
.jobpost-index .page-wrapper .form input[type="submit"]:active {
  background: #ae09b0;
}
.login-index .page-wrapper .form input,
.register-index .page-wrapper .form input,
.jobpost-index .page-wrapper .form input,
.login-index .page-wrapper .form select,
.register-index .page-wrapper .form select,
.jobpost-index .page-wrapper .form select {
  display: block;
  width: 100%;
  padding: 15px 20px;
  margin-bottom: 15px;
  font-family: 'roboto_condensedregular';
  font-size: 16px;
}
.login-index .page-wrapper .form input:focus,
.register-index .page-wrapper .form input:focus,
.jobpost-index .page-wrapper .form input:focus,
.login-index .page-wrapper .form select:focus,
.register-index .page-wrapper .form select:focus,
.jobpost-index .page-wrapper .form select:focus {
  outline: none;
}
.login-index .page-wrapper .form textarea,
.register-index .page-wrapper .form textarea,
.jobpost-index .page-wrapper .form textarea {
  width: 100%;
  padding: 15px 20px;
  resize: none;
  min-height: 300px;
  overflow-y: auto;
  margin-bottom: 15px;
  font-family: 'roboto_condensedregular';
  font-size: 16px;
}
.login-index .page-wrapper .form textarea:focus,
.register-index .page-wrapper .form textarea:focus,
.jobpost-index .page-wrapper .form textarea:focus {
  outline: none;
}
.login-index .page-wrapper .info-container,
.register-index .page-wrapper .info-container,
.jobpost-index .page-wrapper .info-container {
  width: 50%;
}
.login-index .page-wrapper .info-container p,
.register-index .page-wrapper .info-container p,
.jobpost-index .page-wrapper .info-container p {
  font-size: 20px;
  font-family: 'roboto_condensedlight';
  line-height: 1.2;
}
.login-index .page-wrapper .info-container p a,
.register-index .page-wrapper .info-container p a,
.jobpost-index .page-wrapper .info-container p a {
  color: #ff191b;
  text-decoration: none;
}
.login-index .page-wrapper .info-container p a:hover,
.register-index .page-wrapper .info-container p a:hover,
.jobpost-index .page-wrapper .info-container p a:hover {
  text-decoration: underline;
}
.account-index .page-main {
  background: #e1e1e1;
}
.account-index .page-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 50px 25px;
}
.account-index .page-wrapper .left-column {
  width: 30%;
  margin-right: 30px;
  background: #fff;
}
.account-index .page-wrapper .left-column h3 {
  background: #212121;
  padding: 20px;
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
}
.account-index .page-wrapper .left-column .tab-list li:last-child a {
  border-bottom: 0;
}
.account-index .page-wrapper .left-column .tab-list li a {
  display: block;
  padding: 20px;
  border-bottom: 1px solid #e1e1e1;
  color: #212121;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
.account-index .page-wrapper .left-column .tab-list li a.active {
  font-family: 'roboto_condensedbold';
  color: #960898;
}
.account-index .page-wrapper .left-column .tab-list li a:hover {
  color: #960898;
}
.account-index .page-wrapper .right-column {
  width: 70%;
  background: #fff;
}
.account-index .page-wrapper .right-column .tab-content {
  display: none;
  padding: 20px;
}
.account-index .page-wrapper .right-column .tab-content h3 {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e1e1e1;
  font-size: 30px;
  font-family: 'roboto_condensedbold';
  text-transform: uppercase;
}
.account-index .page-wrapper .right-column .tab-content.show {
  display: block;
}
.account-index .page-wrapper .right-column .editprofile-container legend {
  margin-bottom: 20px;
  color: #ff191b;
}
.account-index .page-wrapper .right-column .editprofile-container form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.account-index .page-wrapper .right-column .editprofile-container form .photo img {
  width: 100%;
  max-width: 200px;
}
.account-index .page-wrapper .right-column .editprofile-container form .photo input[type="file"] {
  display: block;
  max-width: 250px;
  margin: 10px 0 20px;
}
.account-index .page-wrapper .right-column .editprofile-container form > input,
.account-index .page-wrapper .right-column .editprofile-container form select,
.account-index .page-wrapper .right-column .editprofile-container form textarea {
  margin-bottom: 20px;
  padding: 10px 15px;
  font-size: 16px;
  font-family: 'roboto_condensedregular';
  border: 1px solid #bbb8b8;
}
.account-index .page-wrapper .right-column .editprofile-container form > input:focus,
.account-index .page-wrapper .right-column .editprofile-container form select:focus,
.account-index .page-wrapper .right-column .editprofile-container form textarea:focus {
  outline: none;
  border-color: #960898;
}
.account-index .page-wrapper .right-column .editprofile-container form label {
  display: inline-block;
  margin-bottom: 5px;
}
.account-index .page-wrapper .right-column .editprofile-container form textarea {
  resize: none;
  min-height: 150px;
  overflow-y: auto;
}
.account-index .page-wrapper .right-column .editprofile-container form .save-btn {
  display: block;
  max-width: 250px;
  padding: 10px 15px;
  margin-bottom: 30px;
  border: 0;
  background: #960898;
  color: #fff;
  font-family: 'roboto_condensedbold';
  text-transform: uppercase;
}
.account-index .page-wrapper .right-column .jobposted-container {
  max-height: 400px;
  overflow-y: auto;
}
.account-index .page-wrapper .right-column .jobposted-container::-webkit-scrollbar {
  width: 6px;
}
.account-index .page-wrapper .right-column .jobposted-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  background-color: #b6b6b6;
}
.account-index .page-wrapper .right-column .jobposted-container::-webkit-scrollbar-track {
  border: 2px solid #fff;
  background: #c3c3c3;
}
.account-index .page-wrapper .right-column .jobposted-container > div {
  margin-bottom: 20px;
}
.account-index .page-wrapper .right-column .jobposted-container > div:not(:last-child) {
  padding-bottom: 20px;
  border-bottom: 1px solid #e1e1e1;
}
.account-index .page-wrapper .right-column .jobposted-container > div span {
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
}
.account-index .page-wrapper .right-column .jobposted-container > div span.title {
  font-size: 18px;
  font-family: 'roboto_condensedbold';
}
.account-index .page-wrapper .right-column .jobposted-container > div span.date {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -o-align-items: center;
  align-items: center;
}
.account-index .page-wrapper .right-column .jobposted-container > div span.date img {
  max-width: 20px;
  margin-right: 5px;
}
.account-index .page-wrapper .right-column .jobposted-container > div a {
  font-family: 'roboto_condensedbold';
  color: #960898;
}
.account-index .page-wrapper .right-column .jobposted-container > div a:hover {
  color: #ae09b0;
}
.account-index .page-wrapper .right-column .messagebox-container {
  max-height: 400px;
  overflow-y: auto;
}
.account-index .page-wrapper .right-column .messagebox-container::-webkit-scrollbar {
  width: 6px;
}
.account-index .page-wrapper .right-column .messagebox-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  background-color: #b6b6b6;
}
.account-index .page-wrapper .right-column .messagebox-container::-webkit-scrollbar-track {
  border: 2px solid #fff;
  background: #c3c3c3;
}
.account-index .page-wrapper .right-column .messagebox-container .messages:not(:last-child) {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e1e1e1;
}
.account-index .page-wrapper .right-column .messagebox-container span {
  font-size: 20px;
  font-family: 'roboto_condensedlight';
  text-transform: uppercase;
}
.account-index .page-wrapper .right-column .messagebox-container a {
  font-size: 20px;
  font-family: 'roboto_condensedbold';
  color: #212121;
}
.account-index .page-wrapper .right-column .messagebox-container .name {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  font-family: 'roboto_condensedregular';
}
.account-index .page-wrapper .right-column .applications-container {
  max-height: 400px;
  overflow-y: auto;
}
.account-index .page-wrapper .right-column .applications-container::-webkit-scrollbar {
  width: 6px;
}
.account-index .page-wrapper .right-column .applications-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  background-color: #b6b6b6;
}
.account-index .page-wrapper .right-column .applications-container::-webkit-scrollbar-track {
  border: 2px solid #fff;
  background: #c3c3c3;
}
.account-index .page-wrapper .right-column .applications-container .applications:not(:last-child) {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e1e1e1;
}
.account-index .page-wrapper .right-column .applications-container .applications a {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 18px;
  font-family: 'roboto_condensedbold';
  color: #212121;
}
.account-index .page-wrapper .right-column .applications-container .applications span {
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
}
.jobseekers-index header {
  border-bottom: 1px solid #e1e1e1;
}
.jobseekers-index .page-wrapper .left-column {
  width: 70%;
  margin-right: 30px;
}
.jobseekers-index .page-wrapper .left-column h3 {
  margin-bottom: 30px;
  font-size: 30px;
  text-transform: uppercase;
}
.jobseekers-index .page-wrapper .left-column .jobseekers-container {
  max-height: 500px;
  overflow-y: auto;
  padding-right: 10px;
}
.jobseekers-index .page-wrapper .left-column .jobseekers-container::-webkit-scrollbar {
  width: 6px;
}
.jobseekers-index .page-wrapper .left-column .jobseekers-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  background-color: #b6b6b6;
}
.jobseekers-index .page-wrapper .left-column .jobseekers-container::-webkit-scrollbar-track {
  border: 2px solid #fff;
  background: #c3c3c3;
}
.jobseekers-index .page-wrapper .left-column .jobseeker {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #e1e1e1;
}
.jobseekers-index .page-wrapper .left-column .jobseeker .photo {
  width: 20%;
  margin-right: 20px;
}
.jobseekers-index .page-wrapper .left-column .jobseeker .photo img {
  width: 100%;
}
.jobseekers-index .page-wrapper .left-column .jobseeker .info {
  width: 80%;
}
.jobseekers-index .page-wrapper .left-column .jobseeker .info label {
  display: block;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e1e1e1;
  font-size: 14px;
}
.jobseekers-index .page-wrapper .left-column .jobseeker .info span {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -o-align-items: center;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
}
.jobseekers-index .page-wrapper .left-column .jobseeker .info span > img {
  max-width: 20px;
  margin-right: 5px;
}
.jobseekers-index .page-wrapper .left-column .jobseeker .info span.name {
  font-family: 'roboto_condensedbold';
  font-size: 20px;
}
.jobseekers-index .page-wrapper .left-column .jobseeker .info span.outline {
  line-height: 1.3;
}
.jobseekers-index .page-wrapper .left-column .jobseeker .info button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  max-width: 150px;
  margin-top: 15px;
  padding: 12px;
  background: #960898;
  border: 0;
  color: #fff;
  font-family: 'roboto_condenseditalic';
  text-transform: uppercase;
}
.jobseekers-index .page-wrapper .right-column {
  width: 30%;
}
.jobseekers-index .page-wrapper .right-column h3 {
  padding: 20px;
  background: #212121;
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
.jobseekers-index .page-wrapper .right-column .jobpost-container {
  max-height: 500px;
  overflow-y: auto;
  border: 1px solid #e1e1e1;
}
.jobseekers-index .page-wrapper .right-column .jobpost-container::-webkit-scrollbar {
  width: 6px;
}
.jobseekers-index .page-wrapper .right-column .jobpost-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  background-color: #b6b6b6;
}
.jobseekers-index .page-wrapper .right-column .jobpost-container::-webkit-scrollbar-track {
  border: 2px solid #fff;
  background: #c3c3c3;
}
.jobseekers-index .page-wrapper .right-column .jobpost-container:first-of-type,
.jobseekers-index .page-wrapper .right-column .jobpost-container:only-of-type {
  border-top: 0;
}
.jobseekers-index .page-wrapper .right-column .jobpost {
  padding: 20px;
  border-bottom: 1px solid #e1e1e1;
}
.jobseekers-index .page-wrapper .right-column .jobpost > div:not(:last-child) {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e1e1e1;
}
.jobseekers-index .page-wrapper .right-column .jobpost:last-child {
  border-bottom: 0;
}
.jobseekers-index .page-wrapper .right-column .jobpost span {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: 'roboto_condensedlight';
}
.jobseekers-index .page-wrapper .right-column .jobpost span.date {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -o-align-items: center;
  align-items: center;
}
.jobseekers-index .page-wrapper .right-column .jobpost span.date img {
  max-width: 20px;
  margin-right: 5px;
}
.jobseekers-index .page-wrapper .right-column .jobpost button {
  background: none;
  border: 0;
  color: #960898;
  text-decoration: underline;
}
.jobpost-index form .errors {
  background: green;
}
.jobsearch-index .page-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.jobsearch-index .page-wrapper .jobsearch-filter-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -o-align-items: center;
  align-items: center;
  margin-bottom: 20px;
}
.jobsearch-index .page-wrapper .jobsearch-filter-container label {
  margin-right: 10px;
  text-transform: uppercase;
}
.jobsearch-index .page-wrapper .jobsearch-filter-container select {
  width: 100%;
  max-width: 200px;
  padding: 12px 20px 12px 12px;
  margin-right: 10px;
  font-family: 'roboto_condensedregular';
  text-transform: uppercase;
}
.jobsearch-index .page-wrapper .jobsearch-filter-container button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: block;
  padding: 12px 15px;
  border: 0;
  background: #212121;
  color: #fff;
  font-family: 'roboto_condenseditalic';
  text-transform: uppercase;
  text-align: center;
}
.jobsearch-index .page-wrapper .left-column {
  width: 70%;
  margin-right: 30px;
}
.jobsearch-index .page-wrapper .left-column h3 {
  margin-bottom: 30px;
  font-size: 30px;
  text-transform: uppercase;
}
.jobsearch-index .page-wrapper .left-column .search-container {
  max-height: 500px;
  overflow-y: auto;
  padding-right: 10px;
}
.jobsearch-index .page-wrapper .left-column .search-container::-webkit-scrollbar {
  width: 6px;
}
.jobsearch-index .page-wrapper .left-column .search-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  background-color: #b6b6b6;
}
.jobsearch-index .page-wrapper .left-column .search-container::-webkit-scrollbar-track {
  border: 2px solid #fff;
  background: #c3c3c3;
}
.jobsearch-index .page-wrapper .left-column .jobpost {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #e1e1e1;
}
.jobsearch-index .page-wrapper .left-column .jobpost label {
  font-size: 16px;
  font-family: 'roboto_condensedbold';
  text-transform: uppercase;
}
.jobsearch-index .page-wrapper .left-column .jobpost span {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}
.jobsearch-index .page-wrapper .left-column .jobpost span img {
  width: 100%;
  max-width: 18px;
  margin-right: 5px;
}
.jobsearch-index .page-wrapper .left-column .jobpost span.category {
  display: inline-block;
  padding: 10px;
  margin-bottom: 8px;
  background: #3C0C7D;
  color: #fff;
  font-size: 10px;
  font-family: 'roboto_condensedbold';
  text-transform: uppercase;
  text-align: center;
}
.jobsearch-index .page-wrapper .left-column .jobpost span.jobtitle {
  font-size: 23px;
  font-family: 'roboto_condensedbold';
}
.jobsearch-index .page-wrapper .left-column .jobpost span.description {
  margin-top: 8px;
  line-height: 1.3;
}
.jobsearch-index .page-wrapper .left-column .jobpost a {
  color: #ff191b;
  font-family: 'roboto_condensedbold';
}
.jobsearch-index .page-wrapper .right-column {
  width: 30%;
}
.jobsearch-index .page-wrapper .right-column h3 {
  padding: 20px;
  background: #212121;
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
.jobsearch-index .page-wrapper .right-column .jobpost-container {
  max-height: 500px;
  overflow-y: auto;
  border: 1px solid #e1e1e1;
}
.jobsearch-index .page-wrapper .right-column .jobpost-container::-webkit-scrollbar {
  width: 6px;
}
.jobsearch-index .page-wrapper .right-column .jobpost-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  background-color: #b6b6b6;
}
.jobsearch-index .page-wrapper .right-column .jobpost-container::-webkit-scrollbar-track {
  border: 2px solid #fff;
  background: #c3c3c3;
}
.jobsearch-index .page-wrapper .right-column .jobpost-container:first-of-type,
.jobsearch-index .page-wrapper .right-column .jobpost-container:only-of-type {
  border-top: 0;
}
.jobsearch-index .page-wrapper .right-column .applications {
  padding: 20px;
  border-bottom: 1px solid #e1e1e1;
}
.jobsearch-index .page-wrapper .right-column .applications:last-child {
  border-bottom: 0;
}
.jobsearch-index .page-wrapper .right-column .applications a {
  display: inline-block;
  margin-bottom: 10px;
  color: #212121;
  font-size: 16px;
  font-family: 'roboto_condensedbold';
}
.jobsearch-index .page-wrapper .right-column .applications span {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
}
.applicants-container h1 {
  display: block;
  margin-bottom: 30px;
  font-size: 30px;
  font-family: 'roboto_condensedregular';
  text-transform: uppercase;
}
.applicants-container h1 b {
  font-family: 'roboto_condensedbold';
}
.applicants-container .back-btn {
  margin-bottom: 20px;
  background: none;
  border: 0;
  font-family: 'roboto_condensedbold';
}
.applicants-container .back-btn .fa {
  margin-right: 5px;
}
.applicants-container .back-btn:hover {
  color: #960898;
}
.applicants-container .back-btn:focus {
  outline: none;
}
.applicants-container .jobseeker {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #e1e1e1;
}
.applicants-container .jobseeker .photo {
  width: 20%;
  margin-right: 20px;
}
.applicants-container .jobseeker .photo img {
  width: 100%;
}
.applicants-container .jobseeker .info {
  width: 80%;
}
.applicants-container .jobseeker .info > div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 15px 0;
}
.applicants-container .jobseeker .info > div.top-info {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  margin: 0 0 20px;
}
.applicants-container .jobseeker .info > div.top-info form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.applicants-container .jobseeker .info > div.actions a {
  margin-right: 20px;
}
.applicants-container .jobseeker .info label {
  display: block;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e1e1e1;
  font-size: 14px;
}
.applicants-container .jobseeker .info span {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -o-align-items: center;
  align-items: center;
  margin-right: 15px;
  font-size: 16px;
}
.applicants-container .jobseeker .info span > img {
  max-width: 20px;
  margin-right: 5px;
}
.applicants-container .jobseeker .info span.name {
  font-family: 'roboto_condensedbold';
  font-size: 20px;
}
.applicants-container .jobseeker .info span.outline {
  line-height: 1.3;
}
.applicants-container .jobseeker .info select {
  padding: 12px 15px;
}
.applicants-container .jobseeker .info select:focus {
  outline: none;
}
.applicants-container .jobseeker .info button {
  width: 100%;
  max-width: 150px;
  padding: 12px 15px;
  background: #960898;
  border: 0;
  color: #fff;
  font-family: 'roboto_condenseditalic';
  text-transform: uppercase;
}
.description-index .job-description {
  background: #fff;
  padding: 20px;
}
.description-index .job-description .applyform-container {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.4);
}
.description-index .job-description .applyform-container form {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}
.description-index .job-description .applyform-container form legend {
  color: #ff191b;
  margin-bottom: 20px;
}
.description-index .job-description .applyform-container form h3 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -o-align-items: center;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e1e1e1;
  font-size: 50px;
  text-transform: uppercase;
}
.description-index .job-description .applyform-container form h3 img {
  max-width: 50px;
  margin-left: 5px;
}
.description-index .job-description .applyform-container form label {
  display: block;
  margin-bottom: 10px;
}
.description-index .job-description .applyform-container form input[type="text"] {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 12px;
  font-family: 'roboto_condensedregular';
  font-size: 16px;
}
.description-index .job-description .applyform-container form .apply-btn {
  display: block;
  width: 100%;
  padding: 12px 15px;
  margin-top: 20px;
  border: 0;
  background: #960898;
  color: #fff;
  text-transform: uppercase;
}
.description-index .job-description .applyform-container form .apply-btn:hover {
  background: #ae09b0;
}
.description-index .job-description .applyform-container .close-btn {
  float: right;
  margin: 0;
  cursor: pointer;
}
.description-index .job-description .applyform-container .close-btn:hover {
  opacity: 0.9;
}
.description-index .job-description .applyform-container .close-btn img {
  margin: 0;
  max-width: 20px;
  width: 100%;
}
.description-index .job-description h1 {
  display: block;
  font-family: 'roboto_condensedbold';
  font-size: 40px;
  margin-bottom: 30px;
}
.description-index .job-description div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -o-align-items: center;
  align-items: center;
}
.description-index .job-description div:not(.actions) {
  margin-bottom: 20px;
}
.description-index .job-description div:not(.actions) span {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -o-align-items: center;
  align-items: center;
  font-size: 20px;
  margin-right: 20px;
}
.description-index .job-description div:not(.actions) span:last-child {
  margin-right: 0;
}
.description-index .job-description div:not(.actions) span img {
  max-width: 25px;
}
.description-index .job-description label {
  font-family: 'roboto_condensedbold';
  font-size: 18px;
  text-transform: uppercase;
}
.description-index .job-description span {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}
.description-index .job-description span img {
  width: 100%;
  max-width: 18px;
  margin-right: 5px;
}
.description-index .job-description span.category {
  display: inline-block;
  padding: 10px;
  margin-bottom: 8px;
  background: #3C0C7D;
  color: #fff;
  font-size: 10px;
  font-family: 'roboto_condensedbold';
  text-transform: uppercase;
  text-align: center;
}
.description-index .job-description span.description {
  margin-top: 8px;
  font-size: 23px;
  font-family: 'roboto_condensedlight';
  line-height: 1.3;
}
.description-index .job-description .actions {
  margin-top: 30px;
}
.description-index .job-description .actions .readmore-btn.active + .applyform-container {
  display: block;
}
.description-index .job-description button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: block;
  width: 100%;
  max-width: 150px;
  padding: 12px;
  background: #960898;
  border: 0;
  color: #fff;
  text-decoration: none;
  line-height: 1;
  margin-right: 20px;
}
.description-index .job-description button:last-of-type {
  margin-right: 0;
}
.sendmsg-container .back-btn {
  display: inline-block;
  margin-bottom: 20px;
  background: none;
  border: 0;
  font-family: 'roboto_condensedbold';
}
.sendmsg-container .back-btn .fa {
  margin-right: 5px;
}
.sendmsg-container .back-btn:hover {
  color: #960898;
}
.sendmsg-container .back-btn:focus {
  outline: none;
}
.sendmsg-container h3 {
  margin-bottom: 20px;
  font-family: 'roboto_condensedlight';
  font-size: 30px;
  text-transform: uppercase;
}
.sendmsg-container h3 b {
  font-family: 'roboto_condensedbold';
}
.sendmsg-container legend {
  color: #ff191b;
  margin-bottom: 20px;
}
.sendmsg-container form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}
.sendmsg-container form input[type="text"],
.sendmsg-container form textarea {
  padding: 10px 15px;
  margin-bottom: 20px;
  font-family: 'roboto_condensedregular';
  font-size: 16px;
}
.sendmsg-container form input[type="text"]:focus,
.sendmsg-container form textarea:focus {
  outline: none;
  border-color: #960898;
}
.sendmsg-container form textarea {
  resize: none;
  min-height: 200px;
  overflow-y: auto;
}
.sendmsg-container form textarea::-webkit-scrollbar {
  width: 6px;
}
.sendmsg-container form textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  background-color: #b6b6b6;
}
.sendmsg-container form textarea::-webkit-scrollbar-track {
  border: 2px solid #fff;
  background: #c3c3c3;
}
.sendmsg-container form label {
  display: inline-block;
  margin-bottom: 5px;
}
.sendmsg-container form button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  max-width: 200px;
  margin: 20px 0;
  padding: 12px 15px;
  background: #960898;
  border: 0;
  color: #fff;
  font-family: 'roboto_condenseditalic';
  font-size: 18px;
  text-transform: uppercase;
}
.conversation-container {
  width: 100%;
}
.conversation-container .back-btn {
  margin-bottom: 20px;
  background: none;
  border: 0;
  font-family: 'roboto_condensedbold';
}
.conversation-container .back-btn .fa {
  margin-right: 5px;
}
.conversation-container .back-btn:hover {
  color: #960898;
}
.conversation-container .back-btn:focus {
  outline: none;
}
.conversation-container h3 {
  width: 100%;
  display: block;
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid #e1e1e1;
  font-family: 'roboto_condensedlight';
  font-size: 30px;
  text-transform: uppercase;
}
.conversation-container h3 b {
  font-family: 'roboto_condensedbold';
}
.conversation-container .messages-container {
  max-height: 350px;
  overflow-y: auto;
  padding-right: 10px;
}
.conversation-container .messages-container::-webkit-scrollbar {
  width: 6px;
}
.conversation-container .messages-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  background-color: #b6b6b6;
}
.conversation-container .messages-container::-webkit-scrollbar-track {
  border: 2px solid #fff;
  background: #c3c3c3;
}
.conversation-container .messages {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  width: 100%;
  max-width: 50%;
  padding: 20px;
  margin-bottom: 20px;
  background: #efeaea;
}
.conversation-container .messages:last {
  margin-bottom: 0;
}
.conversation-container .messages.receiver {
  margin-left: auto;
}
.conversation-container .messages .name {
  display: inline-block;
  padding: 7px 15px;
  margin-bottom: 10px;
  background: #212121;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}
.conversation-container .messages .message {
  display: block;
  margin-top: 20px;
  font-size: 20px;
}
.conversation-container .messages .date-time {
  display: block;
}
.conversation-container .messages .files {
  margin-top: 20px;
}
.conversation-container .actions {
  margin: 50px 0;
}
.conversation-container .actions form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}
.conversation-container .actions label {
  display: inline-block;
  margin-bottom: 10px;
}
.conversation-container .actions textarea {
  display: block;
  width: 100%;
  padding: 12px 15px;
  font-family: 'roboto_condensedregular';
  font-size: 18px;
  resize: none;
  min-height: 150px;
  overflow-y: auto;
}
.conversation-container .actions textarea::-webkit-scrollbar {
  width: 6px;
}
.conversation-container .actions textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  background-color: #b6b6b6;
}
.conversation-container .actions textarea::-webkit-scrollbar-track {
  border: 2px solid #fff;
  background: #c3c3c3;
}
.conversation-container .actions textarea:focus {
  outline: none;
  border: 1px solid #960898;
}
.conversation-container .actions button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  max-width: 200px;
  margin: 20px 0;
  padding: 12px 15px;
  background: #960898;
  border: 0;
  color: #fff;
  font-family: 'roboto_condenseditalic';
  font-size: 18px;
  text-transform: uppercase;
}
.message-img {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  max-width: 50px;
  cursor: pointer;
}
.message-img:hover {
  opacity: 0.7;
}
.modal-zoom {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.9);
}
.modal-zoom .close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.modal-zoom .close:hover,
.modal-zoom .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.zoom-content-container {
  position: relative;
  padding: 0 25px;
  animation-name: zoom;
  animation-duration: 0.6s;
}
.zoom-content-container img {
  margin: auto;
  display: block;
  width: 50%;
  max-width: 700px;
}
@keyframes zoom {
  from {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
