@import "variable.less";

.jobseekers-index {
	header {
		border-bottom: 1px solid @light-gray;
	}

	.page-wrapper {
		.flex-layout;

		.left-column {
			width: 70%;
			margin-right: 30px;

			h3 {
				margin-bottom: 30px;
				font-size: 30px;
				text-transform: uppercase;
			}

			.jobseekers-container {
				max-height: 500px;
				overflow-y: auto;
				padding-right: 10px;
			}

			.jobseeker {
				.flex-layout;
				.round-borders(5px);
				margin-bottom: 20px;
				padding: 20px;
				border: 1px solid @light-gray;

				.photo {
					width: 20%;
					margin-right: 20px;

					img {
						max-width: 80px;
						width: 100%;
					}
				}

				.info {
					span {
						display: block;
						margin-bottom: 10px;
						font-size: 16px;

						&.name {
							font-family: @font-family-bold;
							font-size: 20px;
						}

						&.outline {
							line-height: 1.3;
						}
					}

					button {
						.round-borders(5px);
						width: 100%;
						max-width: 150px;
						padding: 12px;
						background: @main-color;
						border: 0;
						color: @white;
						font-family: @font-family-italic;
						text-transform: uppercase;
					}
				}
			}
		}

		.right-column {
			width: 30%;

			h3 {
				padding: 20px;
				background: @mine-shaft;
				color: @white;
				font-size: 20px;
				text-align: center;
				text-transform: uppercase;
			}

			.jobpost-container {
			    max-height: 500px;
			    overflow-y: auto;
			    border: 1px solid @light-gray;

			    &:first-of-type,
			    &:only-of-type {
			    	border-top: 0;
			    }
			}

			.jobpost {
				padding: 20px;
				border-bottom: 1px solid @light-gray;

				&:last-child {
					border-bottom: 0;
				}

				span {
					display: block;
					margin-bottom: 10px;
					font-size: 16px;
					font-family: @font-family-light;
				}

				button {
					background: none;
					border: 0;
					color: @main-color;
					text-decoration: underline;
				}
			}

		}
	}
}