@import "variable.less";

.banner-container {
	a {
		display: block;

		img {
			width: 100%;
		}
	}
}

.get-started-container {
	background: url('../images/homepage-bg.png') no-repeat;
	background-size: cover;
	background-position: center;
	padding: 150px;

	h1 {
		font-size: 50px;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 5px;
	}

	p {
		font-family: @font-family-light;
		font-size: 20px;
		text-align: center;
	}

	.search-container form {
		.flex-layout;
		.flex-justify-content(center);
		margin: 40px 0 20px;

		input,
		select,
		button {
			width: 100%;
			padding: 15px 20px 15px 15px;
			border: 0;
			margin-right: 10px;
			background: @white;
			font-family: @font-family-base;
			font-size: 16px;

			&:focus {
				outline: none;
			}
		}

		input {
			max-width: 350px;
		}
		
		select {
			max-width: 200px;
		}

		button {
			max-width: 120px;
			background: @main-color;
			color: @white;
			font-family: @font-family-italic;
			text-transform: uppercase;

			&:hover {
				opacity: 1;
				background: lighten(@main-color, 5%);
			}
		}
	}
}

.job-category-list {
	margin-bottom: 30px;
	padding: 20px;
	background: @white;

	strong {
		display: block;
		margin: 20px 0 50px;
		font-size: 25px;
		font-family: @font-family-bold;
		text-transform: uppercase;
		text-align: center;
	}

	.categories-container {
		.flex-layout;
		.flex-wrap(wrap);
		.flex-justify-content(center);

		.categories {
			.flex-layout;
			.flex-direction(column);
			.flex-justify-content(space-between);
			width: 30%;
			margin-left: 20px;
			margin-bottom: 20px;
			background: #f7f4f4;

			&:nth-child(3n + 1) {
				margin-left: 0;
			}

			& > div {
				padding: 15px 10px 10px;
				text-align: center;

				img {
					max-width: 50px;
					margin: 0 auto;
				}

				span {
					display: block;
					margin-bottom: 10px;

					&:first-of-type {
						margin-top: 10px;
						font-size: 18px;
						font-family: @font-family-bold;
						text-transform: uppercase;
					}

					&:last-of-type {
						font-size: 14px;
						color: @gray;
					}
				}
			}

			.see-all-btn {
				.flex-layout;
				.flex-align(center);
				.flex-justify-content(center);
				padding: 10px;
				margin-top: 20px;
				background: @gray;
				color: @white;
				font-family: @font-family-bold;
				text-decoration: none;
				text-transform: uppercase;

				.fa-caret-right:before {
					margin-left: 5px;
					vertical-align: middle;
				}

				&:hover {
					background: lighten(@gray, 5%);
				}
			}

			
		}
	}

	
}

.top-employers-container {
	padding: 20px;
	background: @white;

	strong {
		display: inline-block;
		margin-bottom: 20px;
		font-size: 25px;
		text-transform: uppercase;
	}

	ul {
		.flex-layout;
		.flex-wrap(wrap);
		margin: 20px 0;

		li {
			width: 32%;
			margin-left: 15px;
			margin-bottom: 30px;

			&:nth-child(3n + 1) {
				margin-left: 0;
			}

			span {
				display: inline-block;
				margin-top: 10px;
				font-size: 16px;
			}
		}
	}
}

@media only screen and (max-width : 768px) {
	.get-started-container {
		padding: 150px 20px;
	}
}

@media only screen and (max-width : 479px) {
	.get-started-container {
		padding: 50px 20px;

		h1 {
			font-size: 30px;
		}

		.search-container {
			form {
				display: block;

				select,
				input,
				button {
					max-width: 100%;
					margin: 0 0 15px;
				}
			}
		}
	}

	.job-category-list {
		padding: 10px;
		
		.categories-container {
			.categories {
				width: 100%;
				margin: 0 0 20px;
			}
		}
	}
}